@model AirportManagementSystem.Models.FlightBook

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thank you</title>
</head>
<body style="background-image:url('/Style/saved.jpg');background-repeat:no-repeat;background-size:cover">
    <div>
        <p style="font-size:30px;text-align:center">
            @Html.ActionLink("Go to Home", "Homepage")
        </p>
    </div>

</body>
</html>
